@model Assignment2.Models.PlaylistBaseViewModel

@{
    ViewBag.Title = "Playlist details";
}

    <h2>Playlist details  <span style="background-color:#91C4D3">@Html.DisplayFor(model => model.Name)</span></h2>
<hr />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlaylistId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <br />
        <dt>
            Tracks now on the playlist <span class="badge badge-secondary">@Html.DisplayFor(modelItem => Model.TracksCount)</span>
        </dt>
        <dd>
            @if (Model.Tracks.Count() > 0)
            {
                foreach (var track in Model.Tracks)
                {
                    <span>@track.Name</span><br />
                }
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlaylistId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
